@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../tailwind/app/tailwind.config.mjs";

@layer utilities {
    .typo-title {
        @apply text-title-fluid leading-title-fluid text-center uppercase;
    }

    .typo-sm {
        @apply text-sm-fluid leading-sm-fluid;
    }

    .typo-md {
        @apply text-md-fluid leading-md-fluid;
    }

    .typo-xl {
        @apply text-xl-fluid leading-xl-fluid;
    }

    .typo-2xl {
        @apply text-2xl-fluid leading-2xl-fluid;
    }

    .typo-3xl {
        @apply text-3xl-fluid leading-3xl-fluid;
    }
}

[x-cloak] {
    display: none !important;
}