@font-face {
    font-family: 'Rubik Burned';
    src: url('fonts/RubikBurned-Regular.woff2') format('woff2'),
        url('fonts/RubikBurned-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}